.box{
    /* display:grid;
    grid-template-columns: repeat(4, 1fr); */
    width: 200px;
    height: 200px;
    background-color: rgba(12, 140, 183, 0.83);
    border: solid 5px;
    border-color:burlywood;
    padding:10px;

}